body {
    color: hsl(240, 30%, 97.5%);  
    background-color: hsl(42, 3%, 13%);
    /* font-family: 'Atkinson Hyperlegible', sans-serif; */
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 110%;
}


header {
    text-align: center;
    border-top: 2rem;
    border-bottom: 1rem;
}

h1 {
    font-weight: 500;
}

h2  {
    font-weight: 400;
    font-size: 2rem;
    margin: 2vw;
    padding-top: 1rem;
    padding-left: 1vw;
}

ul {
    text-align: left;
    margin: 0.5rem;
}

.link::before{
   content:"Ëƒ     " ;  
   font-weight: 1000;
}

a {
    font-size: 1.5rem;
    font-weight: 200;
    display: inline-block;
    transform-origin: center left;
    text-decoration: none; /*Removes underline*/
    transition: transform 0.1s ease-out;
    color: hsl(240, 60%, 95%); 
    margin: 0.5rem;
}

a:hover {
    color: hsl(49, 45%, 86%);
}

footer {
    background-image: none;
    background-color: rgba(117, 117, 121, 0.5);
    position: fixed;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.card {
    transform: translateY(-0.3rem);
    display: inline-block;
    border-top: 0.9rem;
    border-bottom: 1rem;
    border-left: 1.3rem;
    border-right: 1.5rem;
    background: hsl(221, 14%, 46%);
    transition: all 0.2s ease-in;
}

.cardWall {
    background: hsl(225, 27%, 27%);
    margin-bottom: 1rem;
    box-shadow: 0px 2px 1px hsla(0, 0%, 0%, 15%);
}

.dispCard{
    width: 100%;
    background: hsl(240, 7%, 63%);
}

.dispCardBG{
    display: inline-block; 
    text-align: left; 
    background: hsl(240, 12%, 28%);
    width: 90%;
}

.dispCard:hover{
    transform: translateY(-0.4rem); 
    transition: all 0.15s ease-out;
}

.dispCardBG:hover{
    transform: scale(1.001);
}

.interCard{
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.interCard:hover{
    transform: translateY(-0.5rem);
    transition: all 0.1s ease-out;
}

.interCard:active{
    transform: translateY(0);
}

.titleCard{
    transform: translateY(-2.65rem);
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.titleCardBG{
    transform: translateY(2.5rem);
    display: inline-block; 
    height: 2rem; 
    padding-bottom: 1rem;
}

.titleCard:hover{
    transform: translateY(-2.75rem);
}

.center{
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.round{
    border-radius: 3px;
}

.round2{
    border-radius: 5px;
}

.plate{
    width: 100%;
    background-color: lightgrey;
    display: inline-block;
    border-left: 1rem;
    border-right: 1rem;
    border-top: 1rem;
    border-bottom: 1rem;
    transition: all 0.15s ease-in;
}

.plate:hover{
    transform-origin: top center;
    transform: scale(100.1%);
    transition: all 0.2s ease-out;
}

.plateBG{
    width: 70%;
    background-color: hsl(0, 12%, 66%);
    display: inline-block;
    margin-top: 1rem;
    border-bottom: .2rem;
    transition: all 0.15s ease-in;
}

.plateBG:hover{
    transform-origin: top center;
    transform: scale(100.01%);
    transition: all 0.2s ease-out;
}

.margin{
    margin-top: 0.5rem;
}

.viewerSpace{
    width: 95%;
}

.viewerSpace:after {
    content: "";
    display: block;
    border-bottom: 100%;
  }

.viewer{
    height: 56vw;
    width: 56vw;
    display: inline-flex;
    background-color:  hsl(240, 4%, 95%);

}

p {
    margin: 0 0 0 0;
    border-top: 1rem;
    text-align: left;
    font-weight: 550;
    border: 0.25rem;
    padding: 0.5rem;
}

.pPlate {
    display: inline-block;
    margin: 1rem 0rem 1rem 0rem;
    background-color: hsla(221, 11%, 34%, 50%);
    outline-width: 1px;
    outline-color: lightslategray;
    box-shadow: 0px 2px 0px hsla(0, 0%, 30%, 75%);
    padding: 1vw;
    width: 54vw;
}