body {
    color: hsl(240, 30%, 97.5%);  
    background-color: rgb(220, 220, 220);
    background-size: 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 110%;
    margin: 0;
}


header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0pt;
}

.link::before{
   content:"Ëƒ     " ;  
}

a {
    font-weight:700;
    display: inline-block;
    transform-origin: center left;
    text-decoration: none; /*Removes underline*/
    transition: transform 0.1s ease-out;
    color: hsl(240, 60%, 95%); 
}

a:hover {
    color: #e79b69;
}

footer {
    background-image: none;
    background-color: rgba(117, 117, 121, 0.5);
    position: fixed;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.card {
    transform: translateY(-0.3rem);
    display: inline-block;
    padding-top: 0.9rem;
    padding-bottom: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.5rem;
    border-width: 120%;
    background: #4680ff;
    transition: all 0.2s ease-in;
}

.cardWall {
    background: royalblue;
    margin-bottom: 1rem;
}

.dispCard{
    background: #db765d;
}

.dispCardBG{
    display: inline-block; 
    text-align: left; 
    background: sienna;
    margin-left: 1rem;
    margin-right: 1rem;
}

.dispCard:hover{
    transform: translateY(-0.6rem); 
    transition: all 0.15s ease-out;
}

.interCard:hover{
    transform: translateY(-0.7rem);
    transition: all 0.1s ease-out;
}

.interCard:active{
    transform: translateY(0);
}

.titleCard{
    transform: translateY(-4.75rem);
}

.titleCard:hover{
    transform: translateY(-4.90rem);
}

.titleCardBG{
    display: inline-block; 
    height: 2rem; 
    transform: translateY(2.25rem);
}

.center{
    text-align: center;
}

.round{
    border-radius: 5px;
}

.viewerSpace{
    height: 40rem; 
    width: 40rem; 
}

.viewer{
    height: 95%;
    width: 95%;
    display: inline-flex;
    background-color:  hsl(240, 4%, 95%);
}
